<!DOCTYPE html>
<html>
  <head>

    <!--Bootstrap Stylesheet-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

    

        <%= require('html-loader!./templates/head.html') %>

  </head>


  <%= require('html-loader!./templates/navbar.html') %>









        <div class="jumbo-logo-container">

          <img :src="jumboLogo" height=240px width=240px></img>

            <div class="subtitle font-roboto"><font size=8 color="d40000">SAMPLE UNFINISHED</font><br>
              <font size=4 color="d40000">Stats page and block explorer</font>
            </div>
        </div>












      <div class="container">
        <b class="tab-content shadow p3 mb-5 rounded">
  <div id="aboutUs" class="row" width="100%">
    <div class="col-3" align="center">

        <table class="table" style="background="fff align="">
        <tbody>
          <tr>
          <th align="">
              <hr>
              <font size=6 color=#000000>Token Stats

              </font>
            </th>
          </tr>

          <tr>
            <th bgcolor="#ff7f00">
            <font size=4 color=#000000>Tokens Minted</font><br>

              <font size=5 color=#fff>{{ readableTokensMinted }} / {{ readableTotalSupply }}</font>
            </th>
          </tr>
          <tr>
          <th bgcolor="#ff7f00">
            <font size=4 color=#000000>Network Hashrate</font><br>

            <font size=5 color=#fff>{{ readableHashrate }}</font>
            </th>
          </tr>
          <tr>
            <th bgcolor="#ff7f00">
            <font size=4 color=#000000>Total Supply</font><br>

              <font size=5 color=#fff>{{ readableTotalSupply }} 0xBTC</font>
            </th>
          </tr>
          <tr>
            <th bgcolor="#ff7f00">
            <font size=4 color=#000000>Mining Difficulty</font><br>

              <font size=5 color=#fff>{{ readableDifficulty }}</font>
            </th>
          </tr>
          <tr>
            <th bgcolor="#ff7f00">
            <font size=4 color=#000000>Mining Reward</font><br>

              <font size=5 color=#fff>{{ mining_reward }} 0xBTC</font>
            </th>
          </tr>
          <tr>
            <th bgcolor="#ff7f00">
            <font size=4 color=#000000>Smart Contract Calls</font><br>

              <font size=5 color=#fff>{{ readableContractOperations }}</font>

            </th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6" align="center">
      <div class="heading-title text-center">
<table class="table" style="background="fff align="center">
<tbody>
<tr>
<th class="text-center">

                        <font align=center size=5 color=#0059a2>Token Hashrate {{ readableHashrate }}</font>

<br>
                  <canvas id="chart-hashrate" style="width:100%; height:250%;"></canvas>
                </th>
              </tr>
                </table>
              </tbody>
                </div>
    </div>
    <div class="3" align="center">
      <table class="table" align="center">
        <tbody>
      <tr>
        <td>
          <hr>
          <font size=6 color="#000"><b>Token Distribution</b></font><br>
          <b><font class="wallets" size=4></font></b><br>
          <font size=2><strong>Top 1000 shown</strong></font>
            <canvas id="pie-holders" style="width:5%; height:10%;"></canvas>
          </td>
        </tr>



        </tbody>
        </table>
    </div>
  </div>
</div>


</b>

  <div id="home" class="row">
    <div class="col-4" align="center">
      <div id="mint-list" class="event-list" v-cloak>


        <div class="text-center" ><b>Recent Mints</b></div>

        <table align="center">
          <thead>
            <tr >
              <td class="has-text-centered"> Block </td>
              <td class="has-text-centered"> Hash </td>

            </tr>
          </thead>
          <tbody>
          <tr v-for="(item, index) in list"   v-bind:class="{   'asset-row':true, 'acts-as-link':true, 'hover-shadow':true   } " >

              <td class="row-cell has-text-centered  "> {{item.blockNumberFormatted}} </td>
             <td class="row-cell has-text-centered "> <a v-bind:href="item.url"> {{item.hashFormatted}} </a> </td>

          </tr>
        </tbody>
      </table>

       </div>
    </div>
    <div class="col-4" align="center">
      <div class="text-center">
          <iframe width="100%" height="400px"  src="https://www.youtube.com/embed/BK68jbXOIWY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-4" align="center">
      <div id="transfer-list" class="event-list" v-cloak>


          <table align="center">
        <div class="text-center"><b>Recent Transfers</b></div>


          <thead>
            <tr >
              <td class="has-text-centered"> Block </td>
              <td class="has-text-centered"> Hash </td>

            </tr>
          </thead>
          <tbody>
          <tr v-for="(item, index) in list"   v-bind:class="{   'asset-row':true, 'acts-as-link':true, 'hover-shadow':true   } " >

              <td class="row-cell has-text-centered  "> {{item.blockNumberFormatted}} </td>
             <td class="row-cell has-text-centered "> <a v-bind:href="item.url"> {{item.hashFormatted}} </a> </td>

          </tr>
        </tbody>
      </table>

       </div>
    </div>
  </div>

</div>
<!--Block explorer START-->



        <!--Block explorer END-->


        <!--fundraiser bar START->


        	<div class="container">
        			<div class="column justify-content-center text-center">

        									<table class="table">
        									 	<tbody>
        											<th align=center>
                                <tr>
        												<br>
                                <p align=center>
        												<h4>ETH Progress Bar</h4>
                              </p>
        													<br>
        													<br>
                                </tr>


                                  <tr>
        												<div class="tab-content" id="pills-tabContent">
        													<div class="tab-pane fade show active" id="pills-deposit" role="tabpanel" aria-labelledby="pills-deposit-tab">
        														<div class="table-responsive">
        																	<div id="fundraiser-progress-container">
        																		<div id="fundraiser-progress">
        																			<div id="fundraiser-progress-bar"></div>
        																		</div>
        																	</div>

        														</div>
        													</div>
        												</div>
                              </tr>
                              </th>

        										</tbody>
        									</table>
        								</div>
        							</div>


        								</div>
                      </section>
                      <br>
                      <br>
                      <br>

        <!-fundraiser bar END-->










      <%= require('html-loader!./templates/footer.html') %>


  </body>
</html>
