<div class="container bg-dark text-black tab-content shadow p3 mb-5 rounded" align="center">

<div style="display:none;" id="row-blocks">
  <div class="row">
    <div class="col-lg-12 col-sm-12"><h4 class="add-top-padding-5"><a name="blocks"></a><font color="#e3ff00">Blocks solved since last retarget</font></h4></div>
  </div>
  <div class="row justify-content-sm-center">
    <div class="col-lg-12 col-sm-12">
      <table>
        <!--<thead id="minerstats"> <tr> <th> </th> <th> </th> </tr> </thead>-->
        <tbody id="blockstats">
          <tr><td colspan="3">Loading info from the blockchain...</td></tr>
        </tbody>
      </table>
    </div>
  </div>

</div>


</div>
