<footer id="footer" class="footer">
   <div class=" ">
     <div class="content has-text-centered">

         <p>
           <font color="#ff0000">
           <b>Show some love</b>
             <br>
            <a href="https://etherscan.io/address/0xD1AB10ea23535Fb2A5C5395278634FF66CaeB0c8" target="_blank"><img src="../../assets/img/heart.png" width="30" height="30"> 0xD1AB10ea23535Fb2A5C5395278634FF66CaeB0c8</a></font>
            </p>

          <br>
          <font size="1">
          The source code is licensed
         <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
         is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
         </font>

     </div>
   </div>
</footer>
