<!--videoSTART-> <meta name="viewport" content="width=device-width, initial-scale=1"> <!-videoEND-->
<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

  <link rel="icon" type="image/png" href="/app/assets/img/favicon.png"/>

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>

<title>0xBTC.wiki</title>

<style>
  #fundraiser-progress-container {
    width: 400px;
    height: 45px;
    margin: -15px 0 0 -200px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #4a00ff;
    text-decoration-color: #00e010;
    background-color: #4a00ff;
}
#fundraiser-progress-bar {
    width: 0%;
    height: 45px;
    line-height: 45px; /* center text vertically; should match height */
    background-color: #00e010;
    color: #4a00ff;
}
</style>
