<!--videoSTART-> <meta name="viewport" content="width=device-width, initial-scale=1"> <!-videoEND-->
<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

<!-- HTML Meta Tags -->
<title>0xBTC.Wiki</title>
<meta name="description" content="0xBTC.wiki is an information portal for 0xBitcoin. With a block explorer, stats info, and links.">

<meta property="og:site_name" content="0xBTC.Wiki">
<meta property="og:image" content="https://0xbtc.wiki/app/assets/img/0xbtcwiki-metalogo.png">
<meta property="og:description" content="0xBTC.wiki is an information portal for 0xBitcoin. With a block explorer, stats info, and links.">
<meta property="og:title" content="0xBTC Wiki">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="0xBTC Wiki">
<meta itemprop="description" content="0xBTC.wiki is an information portal for 0xBitcoin. With a block explorer, stats info, and links.">
<meta itemprop="image" content="https://0xbtc.wiki/app/assets/img/0xbtcwiki-metalogo.png">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://0xbtc.wiki">
<meta property="og:type" content="website">
<meta property="og:title" content="0xBTC.Wiki">
<meta property="og:description" content="0xBTC.wiki is an information portal for 0xBitcoin. With a block explorer, stats info, and links.">
<meta property="og:image" content="https://0xbtc.wiki/app/assets/img/0xbtcwiki-metalogo.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="0xBTC.Wiki">
<meta name="twitter:description" content="0xBTC.wiki is an information portal for 0xBitcoin. With a block explorer, stats info, and links.">
<meta name="twitter:image" content="https://0xbtc.wiki/app/assets/img/0xbtcwiki-metalogo.png">

<meta name="keywords" content="0xBTC, 0xBitcoin, 0xBTC Wiki, 0x, Token Mining, Mineable Token, 0xBitcoin Mining, Mining, ERC20, Token, Ethereum, ETH">

<link rel="icon" type="image/png" href="/app/assets/img/favicon.png"/>

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>




<!--Bootstrap Stylesheet-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"/>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

<!-- jquery is here because scripts need it early on. may want to move other js imports here. -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- jqMath allows for real equation formatting -->
<script src="app/assets/js/jqmath-etc-0.4.6.min.js" charset="utf-8"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!-- note: lodash is only used for _.debounce() -->
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
<script src="app/assets/js/tipr.min.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117165354-1"></script>
<script type="text/javascript" src="app/assets/js/gtag.js"></script>


<meta name="viewport" content="width=600">


    <link rel="stylesheet" type="text/css" href="app/views/css/jqmath-0.4.3.css">

    <link rel="stylesheet" type="text/css" href="app/views/css/main.css">
    <link rel="stylesheet" type="text/css" href="app/views/css/themes/dark1.css">
    <link rel="stylesheet" type="text/css" href="app/views/css/ionicons.css">
    <link rel="stylesheet" type="text/css" href="app/views/css/tipr-corso.css">


<style>
  #fundraiser-progress-container {
    width: 400px;
    height: 45px;
    margin: -15px 0 0 -200px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #4a00ff;
    text-decoration-color: #00e010;
    background-color: #4a00ff;
}
#fundraiser-progress-bar {
    width: 0%;
    height: 45px;
    line-height: 45px; /* center text vertically; should match height */
    background-color: #00e010;
    color: #4a00ff;
}
</style>
