<!--videoSTART-> <meta name="viewport" content="width=device-width, initial-scale=1"> <!-videoEND-->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M7R3M8Q');</script>

<script type="text/javascript" src="app/assets/js/gtag.js"></script>
<!-- End Google Tag Manager -->

<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

<!-- HTML Meta Tags -->
<title>BitcoinSoV</title>
<meta name="description" content="BSOV.info is an information portal for BitcoinSoV. With a block explorer, stats info, and links.">

<meta property="og:site_name" content="BitcoinSoV">
<meta property="og:image" content="https://bsov.info/app/assets/img/BSOV-logo.png">
<meta property="og:description" content="BitcoinSoV is an information portal for BitcoinSoV. With a block explorer, stats info, and links.">
<meta property="og:title" content="BitcoinSoV">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="BitcoinSoV">
<meta itemprop="description" content="BitcoinSoV is an information portal for BitcoinSoV. With a block explorer, stats info, and links.">
<meta itemprop="image" content="https://bsov.info/app/assets/img/BSOV-logo.png">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://bsov.info">
<meta property="og:type" content="website">
<meta property="og:title" content="BitcoinSoV">
<meta property="og:description" content="BitcoinSoV is an information portal for BitcoinSoV. With a block explorer, stats info, and links.">
<meta property="og:image" content="https://bsov.info/app/assets/img/BSOV-logo.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="BitcoinSoV">
<meta name="twitter:description" content="BitcoinSoV is an information portal for BitcoinSoV. With a block explorer, stats info, and links.">
<meta name="twitter:image" content="https://bsov.info/app/assets/img/BSOV-logo.png">

<meta name="keywords" content="BSOV, BitcoinSoV, 0xBTC Wiki, 0x, Token Mining, Mineable Token, 0xBitcoin Mining, Mining, ERC20, Token, Ethereum, ETH">

<link rel="icon" type="image/png" href="/app/assets/img/favicon.png"/>

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>


<script src="https://kit.fontawesome.com/6e91a3b975.js"></script>

<!--Bootstrap Stylesheet-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"/>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

<!-- jquery is here because scripts need it early on. may want to move other js imports here. -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- jqMath allows for real equation formatting -->
<script src="app/assets/js/jqmath-etc-0.4.6.min.js" charset="utf-8"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>



<!-- note: lodash is only used for _.debounce() -->
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>


<!-- Global site tag (gtag.js) - Google Analytics
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117165354-1"></script>
<script type="text/javascript" src="app/assets/js/gtag.js"></script>
-->

<meta name="viewport" content="width=600">


<link rel="stylesheet" type="text/css" href="app/assets/stylesheets/css/main2.css">
<link rel="stylesheet" type="text/css" href="app/assets/stylesheets/css/dark1.css">


<style>
  #fundraiser-progress-container {
    width: 400px;
    height: 45px;
    margin: -15px 0 0 -200px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #4a00ff;
    text-decoration-color: #00e010;
    background-color: #4a00ff;
}
#fundraiser-progress-bar {
    width: 0%;
    height: 45px;
    line-height: 45px; /* center text vertically; should match height */
    background-color: #00e010;
    color: #4a00ff;
}
</style>
