<div class="container bg-dark tab-content shadow p3 mb-5 rounded">

  <div class="row">
<div class="col-lg-12">

  <font color="#e3ff00"><h5 class="card-title">Software</h5></font>
<div class="mygrid-wrapper-div">
    <div class="card-text">
        <ul>
        <li><kbd>MINING SOFTWARE</kbd></li>
       </ul>
          <p>For the most up-to-date version info, download links, thread links and author contact information, please see <a href="https://www.reddit.com/r/0xbitcoin/comments/8o06dk/links_to_the_newestbest_miners_for_nvidia_amd/" target="_blank">this Thread HERE.</a> Keep up to date for the latest speed, stability and feature enhancements!</p>

          <ul>
          <li><strong><a href="https://bitbucket.org/LieutenantTofu/cosmic-v3/downloads/" target="_blank">COSMiC Miner by LtTofu:</a></strong></li>
          <ul>

          <p>V4.x versions are a near-total ‘Modern’ C++ rewrite/redesign for 64-bit Windows, built for speed, ease-of-use and stability. It supports nVidia/CUDA devices and Pool Mining. Solo/CPU mining both planned. Features a fully-integrated GUI, numerous optimizations assembly functions for speed (nicknamed ‘Hashburner’), and supports multiple GPUs running in a single instance since v4.1. Auto-Donation/devfee of 1.5% (default of 1.5%.) Under active development!
          <a href="https://bitbucket.org/LieutenantTofu/cosmic-v3/downloads/" target="_blank"><b>-COSMiC Miner 3.4t by LtTofu:</b></a> A fork of 0xBitcoin-Miner designed for enhanced speed and less invalid shares at the Pool level. It is somewhat older and is built using a combination of NodeJS/C++/CUDA. It has versions available for 64-bit Windows and Linux and runs from a command-line interface. Comes in multiple versions with 1, 1.5 or 2% “Auto-Donation”/devfee. Not under development at this time, but still relevant.</p>

          <strong><a href="https://github.com/lwYeo/SoliditySHA3Miner/releases" target="_blank">SoliditySha3Miner by Amano7:</a></strong>

          <p>A Command-Line Interface miner that aims to provide functionality similar to that of “CCMiner” for other algorithms for 0xBitcoin and other ERC-918s. As such, it offers an API for integrating with Mining management software and integration with HiveOS &amp; EthOS. It also supports OpenCL devices (such as AMD cards and Intel IGPs.) Has a minimum Auto-Donation/devfee of 1.5% (with a default of 2.0%.) Under active development!
          </p>
          <strong><a href="https://aiominer.com/" target="_blank">AIOMiner All-In-One GPU Miner:</a></strong>
          <p>
          AIOMiner is an All-In-One GPU Mining software for Windows that boasts support for over 55 different algorithms, is free to use, and eliminates the need to configure batch files through its easy to use interface.
        </p>
          <strong><a href="https://github.com/mining-visualizer/MVis-tokenminer/releases" target="_blank">TokenMiner by MVis (Mining-Visualizer):</a></strong>
          <p>
          TokenMiner is based upon Genoil Ethminer and was the first to add support for OpenCL devices (AMD GPUs/APUs.) It supports CPU and Pool/Solo mining from its command-line interface (in -C or -G, -S or -P modes.) It can also mine on nVidia/CUDA cards (in OpenCL mode, albeit with lesser performance.) Has a 1% “devfee” running in Pool Mode. This miner has since been forked for compatibility with some FPGAs!
        </p>
          <strong><a href="https://github.com/azlehria/nabiki" target="_blank">“Nabiki”/2.10.4 by Azlehria:</a></strong>
          <p>
          v2.10.4 is an enhancement of the original 0xBitcoin-Miner with CUDA support added by Mikers and enhanced by Azlehria. “Nabiki” is a C++-only version, with no NodeJS code, which supports Pool Mining (just not Solo) and works on Windows 64-bit and Linux. Source code is available with pre-packaged binaries and a GUI in the works. Has a 2.5% “devfee”. Under active development!
        </p>
          ~<em>Older Miners: Older and possibly-unsupported miner versions can be found at the above link for historical purposes and specific applications- including the original NodeJS CPU miner by Infernal Toast/Zegordo, the ‘1000x’ NodeJS/C++ hybrid version of 0xBitcoin-Miner and Mikers’ enhanced CUDA builds.</em>

        </div>
</div>

</div>
</div>

</div>
