<!DOCTYPE html>
<html>
  <head>



    <%= require('html-loader!./templates/head.html') %>


  </head>
  <body>

<div class="bg-transparent">


  <%= require('html-loader!./templates/navbar.html') %>




  <div class="page-container" id="account">
    <section class="hero">
      <div class="hero-body">






<div class="whitespace-md"></div>

          <div class="whitespace-md"></div>


            <div id="account-data" class="account-data">

              <div class="card border-light mb-3" style="max-width: 50rem;">
                <div class="card-header bg-danger text-light"><b>Account Details</b></div>
                <div class="card-body bg-dark text-warning">
                  <h5 class="card-title text-warning">Account: <a v-bind:href="etherscanUrl" target="blank">{{ address }}</a></h5>
                    <div class="attribute-row">
                      0xBitcoin Balance:  {{ tokenBalanceFormatted }}
                    </div>
                    <div class="attribute-row">
                      Ether Balance:  {{ etherBalanceFormatted }}
                    </div>


                    <div class="attribute-row">
                      <a v-bind:href="etherscanUrl" target="blank"> Etherscan Link </a>

                    </div>
                </div>
                <div class="card-footer bg-dark border-success"><a href="javascript:history.back()">🢀 Back</a></div>
              </div>




             </div>

             <div class="whitespace-md"></div>
             <div class="whitespace-md"></div>

<!--
                   <div class="whitespace-md"></div>

                   <div class="columns">
                     <div class="column">

                       <div id="mint-list" class="event-list" v-cloak>


                         <div class="subtitle" >Recent Mints</div>

                         <table>
                           <thead>
                             <tr >
                               <td class="has-text-centered"> Block </td>
                               <td class="has-text-centered"> Hash </td>

                             </tr>
                           </thead>
                           <tbody>
                           <tr v-for="(item, index) in list"   v-bind:class="{   'asset-row':true, 'acts-as-link':true, 'hover-shadow':true   } " >

                               <td class="row-cell has-text-centered  "> {{item.blockNumberFormatted}} </td>
                              <td class="row-cell has-text-centered "> <a v-bind:href="item.url"> {{item.hashFormatted}} </a> </td>

                           </tr>
                         </tbody>
                       </table>

                        </div>

                     </div>

                     <div class="column">

                       <div id="transfer-list" class="event-list" v-cloak>



                         <div class="subtitle" >Recent Transfers</div>

                         <table>
                           <thead>
                             <tr >
                               <td class="has-text-centered"> Block </td>
                               <td class="has-text-centered"> Hash </td>

                             </tr>
                           </thead>
                           <tbody>
                           <tr v-for="(item, index) in list"   v-bind:class="{   'asset-row':true, 'acts-as-link':true, 'hover-shadow':true   } " >

                               <td class="row-cell has-text-centered  "> {{item.blockNumberFormatted}} </td>
                              <td class="row-cell has-text-centered "> <a v-bind:href="item.url"> {{item.hashFormatted}} </a> </td>

                           </tr>
                         </tbody>
                       </table>

                        </div>

                     </div>

                   </div>





-->

</div>
</section>
    </div>
    <%= require('html-loader!./templates/footer.html') %>



</div>

</body>

</html>
