<!DOCTYPE html>
<html>
  <head>




        <%= require('html-loader!./templates/head.html') %>


  </head>
  <body>


    <div class="bg-transparent">


  <%= require('html-loader!./templates/navbar.html') %>








        <div class="jumbo-logo-container">





        </div>













        <nav>
          <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
    <a class="bg-transparent nav-item nav-link active bg-success" id="stats-home-tab" data-toggle="tab" href="#stats-home" role="tab" aria-controls="stats-home" aria-selected="true" aria-pressed="true"><font color="#e3ff00">Stats</font></a>

<a class="bg-transparent nav-item nav-link bg-success" id="nav-api-tab" data-toggle="tab" href="#nav-api" role="tab" aria-controls="nav-api" aria-selected="false"><font color="#e3ff00">API</font></a>

            <a class="bg-transparent nav-item nav-link bg-success" id="nav-blocks-tab" data-toggle="tab" href="#nav-blocks" role="tab" aria-controls="nav-blocks" aria-selected="false"><font color="#e3ff00">Blocks Mined</font></a>
        <!--hide    <a class="bg-transparent nav-item nav-link bg-success" id="nav-links-tab" data-toggle="tab" href="#nav-links" role="tab" aria-controls="nav-links" aria-selected="false"><font color="#e3ff00">Links</font></a> hide-->
            <a class="bg-transparent nav-item nav-link bg-success" id="nav-tokenmining-tab" data-toggle="tab" href="#nav-tokenmining" role="tab" aria-controls="nav-tokenmining" aria-selected="false"><font color="#e3ff00">Token Mining?</font></a>
            <a class="bg-transparent nav-item nav-link bg-success" id="nav-software-tab" data-toggle="tab" href="#nav-software" role="tab" aria-controls="nav-software" aria-selected="false"><font color="#e3ff00">Software</font></a>
          </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
<div class="tab-pane fade show active" id="stats-home" role="tabpanel" aria-labelledby="stats-home-tab">

  <div class="container bg-dark tab-content shadow p3 mb-5 rounded">


  <div class="row">
  <div class="col-md-12">
  <hr>
    <div class="is-centered">
    <ul id="navigation" class="text-center" align="center">
      <li class="nav"><a href="#row-statistics"><font color="#fff" size=5<i class="icon ion-ios-pulse navicon"></i></font>stats</a></li>
      <li class="nav"><a href="#holders"><font color="#fff" size=5<i class="icon ion-ios-pie-outline navicon"></i></font>distribution</a></li>


  <!--<hide">      <li class="nav"><a href="./?page=stats&#miningcalculator"><i class="icon ion-ios-calculator-outline navicon"></i> mining calculator</a></li> </hide>-->

      <li class="nav"><a href="#row-difficulty"><font color="#fff" size=5<i class="icon ion-ios-flame-outline navicon"></i></font> difficulty / hashrate</a></li>
      <li class="nav"><a href="#reward-time"><font color="#fff" size=5<i class="icon ion-ios-speedometer-outline navicon"></i></font> reward time / supply</a></li>

    </ul>
  </div>
  </div>
  </div>



  <br>
  <!--<hide">  <div id="home" class="row" width="100%"> </hide>-->
  <div id="home">
  <div class="row justify-content-sm-center">

  <div class="col-lg-3 col-sm-auto order-lg-1 order-xs-1 order-sm-1">
  <!--<hide">   <div class="col-3" align="center"> </hide>-->


  <div id="mint-list" class="event-list" v-cloak>

    <div class="text-center" ><b><font color="#e3ff00"><h5>Recent Mints</h5></font></b></div>

    <table align="center">
      <thead>

        <tr v-bind:class="{   'asset-row':true, 'hover-shadow':true   } " >
          <td class="row-cell has-text-centered"><span style='color: #fff494;'>Tokens Minted</span>&nbsp;&nbsp;&nbsp;<img src="app/assets/img/pickaxe1.png" height="25px" width="25px" style="max-height:25px" alt="Responsive image" alt=""></img></td>
          <td class="row-cell has-text-centered" id="TokensMinted2">loading...</td>

        </tr>

        <tr >
          <td class="has-text-centered"> Block </td>
          <td class="has-text-centered"> Hash </td>

        </tr>
      </thead>
      <tbody>
      <tr v-for="(item, index) in list"   v-bind:class="{   'asset-row':true, 'acts-as-link':true, 'hover-shadow':true   } " >

          <td class="row-cell has-text-centered  "> {{item.blockNumberFormatted}} </td>
         <td class="row-cell has-text-centered "> <a v-bind:href="item.url"> {{item.hashFormatted}} </a> </td>

      </tr>
    </tbody>
  </table>

   </div>
  </div>
  <div class="col-lg-6 col-sm-auto order-lg-2 order-sm-last order-xs-last">
   <!--<hide">    <div id="aboutUs" class="col-6" align="center"> </hide>-->

       <div style="display:none;" id="row-miners">

           <br>

     <div class="row">
           <div class="col"><h4><a name="miners"></a><font color="#e3ff00">Block distribution since last retarget</font></h4></div>
         </div>
         <div class="row">
           <div class="col col-5" style="max-width:40%;">
             <div id="blockdistributionpiechart"></div>
           </div>
           <div class="column">
             <table>
               <!--<thead id="minerstats"> <tr> <th> </th> <th> </th> </tr> </thead>-->
               <tbody id="minerstats">
                 <tr><td colspan="3">Loading info from the blockchain...</td></tr>
               </tbody>
             </table>
           </div>
         </div>
       </div>
     </div>

     <div class="col-lg-3 col-sm-auto order-lg-3 order-xs-2 order-sm-2">
       <!--<hide">   <div class="col-3" align="center"> </hide>-->


       <div id="transfer-list" class="event-list" v-cloak>


           <table align="center">
         <div class="text-center"><b><h5><font color="#e3ff00">Recent Transactions</font></h5></b></div>

    <!--<thead> <tr> <th> </th> <th> </th> </tr> </thead>-->


           <thead>
             <tr v-bind:class="{'asset-row':true, 'acts-as-link':true, 'hover-shadow':true} " >
            <td class="row-cell has-text-centered">
            <a href='https://etherscan.io/token/0x26946ada5ecb57f3a1f91605050ce45c482c9eb1?a=0x0000000000000000000000000000000000000000' target='blank' style='color: #fff494;'>Tokens Burned
            </a>&nbsp;&nbsp;&nbsp;<font color="#ff6b00"><i class="fas fa-fire fa-lg"></i></font></td>

            <td class="row-cell has-text-centered"><span id="TokenstopBurned">loading...</span></td>
          </tr>
             <tr>
               <td class="has-text-centered"> Block </td>
               <td class="has-text-centered"> Hash </td>

             </tr>
           </thead>
           <tbody>
           <tr v-for="(item, index) in list"   v-bind:class="{   'asset-row':true, 'acts-as-link':true, 'hover-shadow':true   } " >

               <td class="row-cell has-text-centered"> {{item.blockNumberFormatted}} </td>
              <td class="row-cell has-text-centered"> <a v-bind:href="item.url"> {{item.hashFormatted}} </a> </td>

           </tr>
         </tbody>
       </table>

        </div>
        </div>
      </div>
    </div>



   <hr>

   <div id="home">
   <div class="row justify-content-center">
     <div  class="col-lg-4 col-sm-12">

   <div style="display:none;" id="row-statistics">
     <div class="row">
       <div class="is-centered">
       <div class="column"><b><h4 class="add-top-padding-4"><font color="#e3ff00">Current Contract Stats</font></h4></b></div>
     </div>
     </div>
     <div class="row">
       <div class="is-centered">
       <div class="column">
         <table>
           <!--<thead> <tr> <th> </th> <th> </th> </tr> </thead>-->

           <tbody id="statistics">
             <tr v-for="(item, index) in list"   v-bind:class="{   'asset-row':true, 'acts-as-link':true, 'hover-shadow':true   } " >
               <td colspan="2">Loading info from the blockchain...</td>
             </tr>
           </tbody>

         </table>
       </div>
     </div>
     </div>
   </div>
  </div>


  <div id="aboutUs" class="col-lg-5 col-sm-12">
  <!--<hide">    <div id="aboutUs" class="col-6" align="center"> </hide>-->
  <div class="row">
  <div class="is-centered">


    <div class="heading-title text-center">


                    <font size="1" color="e3ff00">(estimate since last readjustment)</font><b><h4><font color="#e3ff00">Token Hashrate {{readableHashrate}}</font></h4></b>
                  </div>
                  </div>
                </div>

  <div class="row">
    <div class="col-sm-12" style="max-width:100%;">
      <table class="table" align="center">
      <tbody bgcolor="343a40">
      <tr>
      <th class="text-center">

              <canvas id="chart-hashrate" align="center" style="position: relative; height:75vh; max-width:200%"></canvas>
              </th>
            </tr>
              </tbody>
              </table>
          </div>
        </div>
              </div>





  <div class="col-lg-3 col-sm-12">

  <div id="holders" class="row justify-content-center">
  <b><h4><font color="#e3ff00">Token Distribution</font></h4></b>
  </div>

  <div class="row justify-content-center">
  <td class="row-cell has-text-centered"><font style='color: #fff494;'>Total Holders &nbsp;&nbsp; </font> </td>
  <td class="row-cell has-text-centered"><b><font class="wallets" color="#fff"></font></b></td>
  </div>


  <div class="row">
  <div class="col-sm-12" style="max-width:100%;">
  <table class="table" align="center">
  <tbody bgcolor="343a40">
  <tr v-for="(item, index) in list"   v-bind:class="{   'asset-row':true, 'acts-as-link':true, 'hover-shadow':true   } ">
  <td>

    <canvas id="pie-holders" style="position: relative; height:75vh; max-width:200%"></canvas>

  </td>
  </tr>



  </tbody>
  </table>
  </div>
  </div>






  </div>




  </div>
  </div>


  </div>




  <!--<hide">
  <div class="container tab-content shadow p3 mb-5 rounded">


  <div class="row justify-content-center">






  <font color="000000">


  <div style="display:none;" id="row-reward-time" width="100%">
    <div class="row">
      <div class="column"><h4><a name="reward-time"></a>Average Reward Time and Supply over the last 60 days</h4></div>
    </div>
    <div class="row">
      <div class="column">
        <div id='blocktimestats'>
          Loading info from the blockchain...
        </div>
      </div>
    </div>
  </div>

  <div style="display:none;" id="row-difficulty">
    <div class="row">
      <div class="column"><h4><a name="difficulty"></a>Hashrate and Difficulty over the last 60 days</h4></div>
    </div>
    <div class="row">
      <div class="column">
        <div id='difficultystats'>
          Loading info from the blockchain...
        </div>
      </div>
    </div>
  </div>

  <br>





  </font>












  </div>


  </div>
  </hide>-->


  <!--<hide">

  <div class="container bg-white padding-md tab-content shadow p3 mb-5 rounded">


  <div class="row justify-content-center">






  <div class="container is-centered">
  <form>

    <div style="display:none;" id="row-miningcalculator">
      <font color="2b2b2b">
        <h4><a name="miningcalculator"></a>Mining calculator</h4>
      <div id="editor">

  <div class="form-row">
  <div class="form-group">
  <label for="hashrateField">Your Hashrate:</label><br>
  <input type="text" :value="hashrate" @input="updateHashrate" id="hashrateField" onfocus="this.select()" autofocus></input>
  <select :value="units" @input="updateUnits" id="unitField">
    <option value="1">H/s</option>
    <option value="1e3">Kh/s</option>
    <option value="1e6">Mh/s</option>
    <option value="1e9">Gh/s</option>
    <option value="1e12">Th/s</option>
    <option value="1e15">Eh/s</option>
  </select>
  </div>
  </div>

  <div class="form-row">
  <div class="form-group col-md-3">
  <label for="poolFeeField" class="add-top-padding-2">Pool Fee:</label><br>
  <input type="text" :value="poolfee" @input="updatePoolFee" id="poolFeeField" onfocus="this.select()" autofocus></input>
  <span style="margin-left:10px;line-height: 40px;">percent</span>
  </div>
  <div class="form-group col-md-3">
  <label for="mintFailureRateField" class="add-top-padding-2">Mint Failure Rate: <i class="icon ion-ios-help-outline helpicon tip" data-tip="Even a perfect setup will occasionally fail to mint a block. This is similar to 'stale blocks' in the Bitcoin blockchain. Failure rates can range from 1.5%-15% depending on network block rate, latency, connection type, and luck." ></i></label><br>
  <input type="text" :value="mint_failure_rate" @input="updateMintFailureRate" id="mintFailureRateField" onfocus="this.select()" autofocus></input>
  <span style="margin-left:10px;line-height: 40px;">percent</span>
  </div>
  </div>

  <div class="form-group">
  <label for="difficultyField" class="add-top-padding-2">Difficulty:</label><br>
  <input type="text" :value="difficulty" @input="updateDifficulty" id="difficultyField" onfocus="this.select()" autofocus></input>
  </div>

  <div class="form-row">
  <div class="form-group col-md-3 float-left" style="text-align: center;">
  <a class="button button-outline" v-on:click="useCurrentDiff" id="currentDiffButton">Use Current Diff</a>
  </div>
  <div class="form-group col-md-3 float-right" style="text-align: center;">
  <a class="button button-outline tip" v-on:click="useNextDiff" id="nextDiffButton" data-tip="This is only an estimate, so don't be suprised when it changes.">Use Next Diff</a>
  </div>
  </div>

  <div class="column">

  <table id="poolMiningTable">
  <thead>
    <tr>
      <th>Pool Mining</th>
      <th>Tokens</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Per Hour</td>
      <td>{{ Number((calculatedTokensPerDay / 24).toFixed(2)).toLocaleString() }}</td>
    </tr>
    <tr>
      <td>Per Day</td>
      <td>{{ Number((calculatedTokensPerDay * 1).toFixed(2)).toLocaleString() }}</td>
    </tr>
    <tr>
      <td>Per Week</td>
      <td>{{ Number((calculatedTokensPerDay * 7).toFixed(2)).toLocaleString() }}</td>
    </tr>
    <tr>
      <td>Per Month</td>
      <td>{{ Number((calculatedTokensPerDay * 30.4167).toFixed(2)).toLocaleString() }}</td>
    </tr>
  </tbody>
  </table>
  <label for="soloMiningTimeSpan">Solo Mining</label>
  <span id="soloMiningTimeSpan">{{ calculatedSoloTimePerBlock }} per block (average)</span>
  <br /s>
  <span id="soloMiningTimeSpan">{{ calculatedSoloTimePerTenBlocks }} per 10 blocks (more realistic)</span>
  </div>
  <div class="row">
  <div class="column"><h5 class="add-top-padding">How Does The Calculator Work?</h5></div>
  </div>
  <div class="row">
  <div class="column">
  <p>
  At its heart is the standard hashrate equation:

    time to solve a block in seconds $= {2^22⋅\difficulty}/\hashrate$
    <br />
    → blocks per second $= \hashrate/{2^22⋅\difficulty}$
    <br />
    → tokens per day $=({50\tokens}/\text"block")({60\seconds}/\text"minute")({60\minutes}/\text"hour")({24\hours}/\text"day")\hashrate/{2^22⋅\difficulty}$
    <br />
    → tokens per day $={4320000⋅\hashrate}/{2^22⋅\difficulty}$

  </p>
  </div>
  </div>



  </div>
  </font>
  </div>

  </form>
  </div>






  <font color="000000">
  <div class="col-6-lg padding-md">
  <div style="display:none;" id="row-miningcalculator">
    <div class="row">
      <div class="column"><h4><a name="miningcalculator"></a>Mining calculator</h4></div>
    </div>
    <div id="editor">
      <div class="row">
        <div class="column">
          <div class="container">
            <div class="row">
              <div class="column">
                <label for="hashrateField">Your Hashrate:</label>
                <input type="text" :value="hashrate" @input="updateHashrate" id="hashrateField" onfocus="this.select()" autofocus></input>
                <select :value="units" @input="updateUnits" id="unitField">
                  <option value="1">H/s</option>
                  <option value="1e3">Kh/s</option>
                  <option value="1e6">Mh/s</option>
                  <option value="1e9">Gh/s</option>
                  <option value="1e12">Th/s</option>
                  <option value="1e15">Eh/s</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="column">
                <label for="poolFeeField" class="add-top-padding-2">Pool Fee:</label>
                <input type="text" :value="poolfee" @input="updatePoolFee" id="poolFeeField" onfocus="this.select()" autofocus></input><span style="margin-left:10px;line-height: 40px;">percent</span>
              </div>
              <div class="column">
                  <label for="mintFailureRateField" class="add-top-padding-2">Mint Failure Rate: <i class="icon ion-ios-help-outline helpicon tip" data-tip="Even a perfect setup will occasionally fail to mint a block. This is similar to 'stale blocks' in the Bitcoin blockchain. Failure rates can range from 1.5%-15% depending on network block rate, latency, connection type, and luck." ></i></label>
                <input type="text" :value="mint_failure_rate" @input="updateMintFailureRate" id="mintFailureRateField" onfocus="this.select()" autofocus></input><span style="margin-left:10px;line-height: 40px;">percent</span>
              </div>
            </div>
            <div class="row">
              <div class="column">
                <label for="difficultyField" class="add-top-padding-2">Difficulty:</label>
                <input type="text" :value="difficulty" @input="updateDifficulty" id="difficultyField" onfocus="this.select()" autofocus></input>
              </div>
            </div>
            <div class="row">
              <div class="column" style="text-align: center;">
                <a class="button button-outline" v-on:click="useCurrentDiff" id="currentDiffButton">Use Current Diff</a>
              </div>
              <div class="column" style="text-align: center;">
                <a class="button button-outline tip" v-on:click="useNextDiff" id="nextDiffButton" data-tip="This is only an estimate, so don't be suprised when it changes.">Use Next Diff</a>
              </div>
            </div>
          </div>
        </div>
        <div class="column">

          <table id="poolMiningTable">
            <thead>
              <tr>
                <th>Pool Mining</th>
                <th>Tokens</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Per Hour</td>
                <td>{{ Number((calculatedTokensPerDay / 24).toFixed(2)).toLocaleString() }}</td>
              </tr>
              <tr>
                <td>Per Day</td>
                <td>{{ Number((calculatedTokensPerDay * 1).toFixed(2)).toLocaleString() }}</td>
              </tr>
              <tr>
                <td>Per Week</td>
                <td>{{ Number((calculatedTokensPerDay * 7).toFixed(2)).toLocaleString() }}</td>
              </tr>
              <tr>
                <td>Per Month</td>
                <td>{{ Number((calculatedTokensPerDay * 30.4167).toFixed(2)).toLocaleString() }}</td>
              </tr>
            </tbody>
          </table>
          <label for="soloMiningTimeSpan">Solo Mining</label>
          <span id="soloMiningTimeSpan">{{ calculatedSoloTimePerBlock }} per block (average)</span>
          <br /s>
          <span id="soloMiningTimeSpan">{{ calculatedSoloTimePerTenBlocks }} per 10 blocks (more realistic)</span>
        </div>
      </div>
      <div class="row">
        <div class="column"><h5 class="add-top-padding">How Does The Calculator Work?</h5></div>
      </div>
      <div class="row">
        <div class="column">
          <p>
            At its heart is the standard hashrate equation:

              time to solve a block in seconds $= {2^22⋅\difficulty}/\hashrate$
              <br />
              → blocks per second $= \hashrate/{2^22⋅\difficulty}$
              <br />
              → tokens per day $=({50\tokens}/\text"block")({60\seconds}/\text"minute")({60\minutes}/\text"hour")({24\hours}/\text"day")\hashrate/{2^22⋅\difficulty}$
              <br />
              → tokens per day $={4320000⋅\hashrate}/{2^22⋅\difficulty}$

          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
  </font>

  </hide>-->












  <!--videoSTART->
    <div class="text-center">
    <iframe width="100%" height="400px"  src="https://www.youtube.com/embed/BK68jbXOIWY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  <!-videoEND-->





  <script type="text/javascript">
  var el = function(id){ return document.querySelector(id); };
  /* 'safe' version if el that returns a dummy for non-existent elements */
  var el_safe = function(id) {
    let e = el(id);
    if (e) {
      return e;
    } else {
      return {};
    }
  }

  var log = function(){
    // 1. Convert args to a normal array
    var args = Array.prototype.slice.call(arguments);
    // 2. Prepend log prefix log string
    args.unshift(((Date.now()-globalTimerStart)/1000).toFixed(2) + 's ');
    // 3. Pass along arguments to console.log
    console.log.apply(console, args);
  }
  var globalTimerStart = Date.now();

  let searchParams = new URLSearchParams(window.location.search)
  </script>


  <div class="container bg-dark tab-content shadow p3 mb-5 rounded">

  <font color="e3ff00">







  <div style="display:none;" id="row-difficulty">
    <div class="row justify-content-sm-center">
      <div class="col-lg-12 col-sm-12"><h4 class="add-top-padding-5"><a name="difficulty"></a>Hashrate and Difficulty over the last 60 days</h4></div>
    </div>
    <div class="row justify-content-sm-center">
      <div class="col-lg-12 col-sm-12">
        <div id='difficultystats'>
          Loading info from the blockchain...
        </div>
      </div>
    </div>
  </div>

  <div style="display:none;" id="row-reward-time">
    <div class="row justify-content-sm-center">
      <div class="col-lg-12 col-sm-12"><h4 class="add-top-padding-5"><a name="reward-time"></a>Average Reward Time and Supply over the last 60 days</h4></div>
    </div>
    <div class="row justify-content-sm-center">
      <div class="col-lg-12 col-sm-12">
        <div id='blocktimestats'>
          Loading info from the blockchain...
        </div>
      </div>
    </div>
  </div>

  <div id="row-footer">
    <div class="row add-top-padding-5 add-bottom-padding-5 text-center">


    </div>
  </div>
  </font>
  </div>







  <!--Block explorer START-->



    <!--Block explorer END-->


    <!--fundraiser bar START->


      <div class="container">
          <div class="column justify-content-center text-center">

                      <table class="table">
                        <tbody>
                          <th align=center>
                            <tr>
                            <br>
                            <p align=center>
                            <h4>ETH Progress Bar</h4>
                          </p>
                              <br>
                              <br>
                            </tr>


                              <tr>
                            <div class="tab-content" id="pills-tabContent">
                              <div class="tab-pane fade show active" id="pills-deposit" role="tabpanel" aria-labelledby="pills-deposit-tab">
                                <div class="table-responsive">
                                      <div id="fundraiser-progress-container">
                                        <div id="fundraiser-progress">
                                          <div id="fundraiser-progress-bar"></div>
                                        </div>
                                      </div>

                                </div>
                              </div>
                            </div>
                          </tr>
                          </th>

                        </tbody>
                      </table>
                    </div>
                  </div>


                    </div>
                  </section>
                  <br>
                  <br>
                  <br>

    <!-fundraiser bar END-->


</div>


<div class="tab-pane fade" id="nav-api" role="tabpanel" aria-labelledby="nav-api-tab">


<%= require('html-loader!./templates/apitab.html') %>

</div>





<div class="tab-pane fade" id="nav-blocks" role="tabpanel" aria-labelledby="nav-blocks-tab">

  <%= require('html-loader!./templates/blocks.html') %>


</div>





<!--hide
<div class="tab-pane fade" id="nav-links" role="tabpanel" aria-labelledby="nav-links-tab">


<%= require('html-loader!./templates/links.html') %>


</div>

hide-->

<div class="tab-pane fade" id="nav-tokenmining" role="tabpanel" aria-labelledby="nav-tokenmining-tab">

<%= require('html-loader!./templates/tokenmining.html') %>

</div>


<div class="tab-pane fade" id="nav-software" role="tabpanel" aria-labelledby="nav-software-tab">

<%= require('html-loader!./templates/software.html') %>

</div>




      <%= require('html-loader!./templates/footer.html') %>

      <script type="text/javascript" src="app/assets/js/ethereumjs-testrpc.js"></script>
      <script type="text/javascript" src="app/assets/js/ethjs.js"></script>
      <script type="text/javascript" src="app/assets/js/abi.js"></script>
      <script type="text/javascript" src="app/assets/js/main.js"></script>
      <script type="text/javascript" src="app/assets/js/graphs.js"></script>
      <script type="text/javascript" src="app/assets/js/mining-calculator.js"></script>

      <script type="text/javascript">

        function initPage() {
          let searchParams = new URLSearchParams(window.location.search)

          if(searchParams.has('reload')) {
            var time = searchParams.get('reload');
            setTimeout(function(){
              location.reload()
            },time*60000)
          }


          /* hack; need to add to UI */
          if(searchParams.has('downloadCsvHours')) {
            var hours = searchParams.get('downloadCsvHours');
            loadAllStats(stats);

            function loadCSVWhenReady() {
              if(areAllBlockchainStatsLoaded(stats)) {
                getMinerInfoCSV(eth, stats, hours);
              } else {
                setTimeout(()=>{ loadCSVWhenReady() }, 100);
              }
            }

            setTimeout(()=>{ loadCSVWhenReady() }, 0);
            return;
          }
          /* end hack; need to add to UI */

          if(!searchParams.has('page')
            || searchParams.get('page') == 'stats') {
            if(!searchParams.has('page')){
              addToURL('');
            }
            log('STATS selected');
            $('#row-statistics').show(); // may not need this
            $('#row-miners').show(); // may not need this
            $('#row-blocks').show();
            $("#row-miningcalculator").show();
            {

              let days = 60;
              let points = 60;

              if(searchParams.get('days')) {
                days = searchParams.get('days');
              }
              if(searchParams.get('points')) {
                points = searchParams.get('points');
              }
              $('#row-difficulty').show();
              $('#row-reward-time').show();
              updateGraphData(days, points);
            }
             // may not need this
            //$(document).attr("title", "0xBitcoin Statistics");
            el('#statistics').innerHTML = '';
            updateAndDisplayAllStats();
          }else if(searchParams.get('page') == 'stats') {
            log('MININGCALCULATOR selected');
            $(document).attr("title", "Mining Calculator - 0xBitcoin Statistics");
            $("#row-miningcalculator").show();
            loadAllStats();
          }else if(searchParams.get('page') == 'stats') {

            let days = 60;
            let points = 60;
            $(document).attr("title", "Graphs - 0xBitcoin Statistics");
            if(searchParams.get('days')) {
              days = searchParams.get('days');
            }
            if(searchParams.get('points')) {
              points = searchParams.get('points');
            }
            $('#row-difficulty').show();
            $('#row-reward-time').show();
            updateGraphData(days, points);
          }
          updateLastUpdatedTime();
        }

        try {
          /* initialize tipr tooltips */
          $(document).ready(function() {
               $('.tip').tipr({
                    //'alt': false,
                    //'marginAbove': -65,
                    //'marginBelow': 7,
                    //'mode': 'above',
                    //'space': 70,
                    'speed': 800
               });
          });
        } catch (err) {
          log('failed to set DOMready fn. Jquery load error?');
          el('#statistics').innerHTML = "Sorry, failed to load jquery. Try again later.";
          el('#difficultystats').innerHTML = "Sorry, failed to load jquery. Try again later.";
          fail;
        } finally {
          initPage();
        }
      </script>








</div>
  </body>
</html>
