<!DOCTYPE html>
<html>
  <head>



    <%= require('html-loader!./templates/head.html') %>


  </head>

<body>
  <%= require('html-loader!./templates/navbar.html') %>



<div class="page-container" id="transaction">


  <section class="hero   ">
    <div class="hero-body">



    <div class="whitespace-md"></div>

<div id="tx-data" class="tx-data">
    <div class="card border-light mb-3" style="max-width: 50rem;">
      <div class="card-header bg-danger text-light"><b>Transaction Details</b></div>
      <div class="card-body bg-dark text-warning">
        <h5 class="card-title">Tx Hash: <a v-bind:href="txData.etherscanUrl" target="blank">{{ txData.hash }}</a></h5>
        <p class="card-text">
          <div class="attribute-row">
            Type: {{ txData.txType }}
          </div>
          <div class="attribute-row">
            Block: {{ txData.blockNumber }}
          </div>
          <div class="attribute-row">
            To: <a v-bind:href="txData.toUrl"> {{ txData.to }} </a>
          </div>
          <div class="attribute-row">
            From: <a v-bind:href="txData.fromUrl"> {{ txData.from }} </a>
          </div>
          <div class="attribute-row" v-if="txData.transferTo">
            Transfer To: <a v-bind:href="txData.transferToUrl"> {{ txData.transferTo }} </a>
          </div>
          <div class="attribute-row" v-if="txData.transferAmount">
            0xBTC Transferred:   {{ txData.transferAmount }}
          </div>
          <div class="attribute-row" v-if="txData.mintNonce">
            Mint Nonce:   {{ txData.mintNonce }}
          </div>
          <div class="attribute-row">
            Raw Input: {{ txData.input }}
          </div>
          <div class="attribute-row">
            <a v-bind:href="txData.etherscanUrl" target="blank">  Etherscan Link  </a>
          </div>
        </p>
      </div>
      <div class="card-footer bg-dark border-success"><a href="javascript:history.back()">🢀 Back</a></div>
    </div>







       </div>


             <div class="whitespace-md"></div>


    </div>
  </section>


  </div>



      <%= require('html-loader!./templates/footer.html') %>




  </body>
</html>
